<h1>Clock In</h1>
<p>Please Select your name and Clock In</p>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Employee List
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
    	 <% @managers.each do |manager| %>
    	
      <li class=> <%= manager.first_name %> <%= link_to 'Select', clockinn_path %> </li><br>
     <% end %>
    </ul>
  </div>
  <%= link_to 'Home', root_path, :class => "btn btn-default"%>
