
<h1>Successful Clock Out</h1>


 



<%= javascript_tag do %>
 
  var today = new Date();

   
 


function clockout() {
            alert('SUCCESSFUL CLOCK OUT AT  ' + today);
        }
        clockout();
        
<% end %>


<%= link_to "RETURN", root_path, :class => "btn btn-default" %>