<div class="head">
<h1> Welcome to the employee information system </h1>

</div>

<div class="manager-button">

<%= link_to "MANAGER", managers_path, :class => "btn btn-default btn-block", :style => 'color:blue; margin-top:200px;  display: inline-block;' %>

</div>

<div class="employee-button">

<%= link_to "CLOCK IN", clockin_path, :class => "btn btn-default btn-block", :style => 'color:blue; display: inline-block;' %>

</div>

<div class="employee-button">

<%= link_to "CLOCK OUT", clockout_path, :class => "btn btn-default btn-block", :style => 'color:blue;display: inline-block; ' %>

</div>
