

<h1> Welcome to the employee information system </h1>



<div class="manager-button">

<%= link_to "MANAGER", managers_path, :class => "btn btn-default", :style => 'color:blue; margin-top:200px; margin-left: 400px; display: inline-block;' %>

</div>

<div class="employee-button">

<%= link_to "CLOCK IN", clockin_path, :class => "btn btn-default", :style => 'color:blue;margin-left: 400px; display: inline-block;' %>

</div>

<div class="employee-button">

<%= link_to "CLOCK OUT", clockout_path, :class => "btn btn-default", :style => 'color:blue; margin-left: 400px; display: inline-block; ' %>

</div>
